<div class="user-login-container" [@fadeIn]>

    <p-panel>
        <p-header>
            用户登录
        </p-header>

        <form #form="ngForm" (ngSubmit)="doLogin(form)" novalidate class="form-horizontal" role="form">

            <div class="form-group row" [ngClass]="{ 'is-valid': form.submitted && !username.valid }">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label text-right">用户名:</label>
                <div class="col-sm-10">
                    <input required type="text" name="username" class="form-control" placeholder="请输入用户名"
                        [(ngModel)]="userInfo.username" #username="ngModel">
                    <div *ngIf="form.submitted && username.invalid" class="text-danger">
                        用户名必须输入！</div>
                </div>
            </div>
            <div class="form-group row" [ngClass]="{ 'is-valid': form.submitted && !username.valid }">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label text-right">密码:</label>
                <div class="col-sm-10">
                    <input required type="password" name="password" class="form-control" placeholder="请输入密码"
                        [(ngModel)]="userInfo.password" #password="ngModel" minlength="8">
                    <div *ngIf="form.submitted && password.invalid" class="text-danger">
                        密码必须输入,至少8位！</div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary btn-margin-1rem">登录</button>
                    <button type="button" class="btn btn-default" (click)="retrievePwd()">忘记密码？</button>
                </div>
            </div>
        </form>
    </p-panel>
</div>